<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="eu.aniketos.wp1.ststool.diagram.extensionpoint_plugin">
      <ViewContributor
            viewID="eu.aniketos.wp1.ststool.analysis.analysisresultviewID">
      </ViewContributor>
      <DiagramObserver
            class="eu.aniketos.wp1.ststool.analysis.internal.DiagramObserver">
      </DiagramObserver>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="eu.aniketos.wp1.ststool.analysis.ui.ResultView"
            icon="resources/icons/analysis.gif"
            id="eu.aniketos.wp1.ststool.analysis.analysisresultviewID"
            name="Analysis">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=diagram">
         <menu
               id="analysis"
               label="&amp;Analysis"
               mnemonic="a">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="eu.aniketos.wp1.ststool.diagram.part.StsToolDiagramEditorID">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?pre=view">
         <toolbar
               id="analysis">
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
