<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 DISI - University of Trento

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ststool/1.3.0"
            class="eu.aniketos.wp1.ststool.StstoolPackage"/>
   </extension>

</plugin>
