<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.commands">
      <command
            description="Run Threat Analysis"
            id="riskanalysis"
            name="Risk Analysis">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:analysis?after=securityanalysis">
         <command
               commandId="riskanalysis"
               icon="resources/icons/threat.gif"
               style="push"
               tooltip="Run Risk Analysis for the current Diagram">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="eu.aniketos.wp1.ststool.analysis.dlv.menu.expression">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:analysis?after=securityanalysis">
         <command
               commandId="riskanalysis"
               icon="resources/icons/threat.gif"
               style="push"
               tooltip="Run Risk Analysis for the current Diagram">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="eu.aniketos.wp1.ststool.analysis.dlv.menu.expression">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.aniketos.wp1.ststool.analysis.risk.handler.RiskAnalysisHandler"
            commandId="riskanalysis">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="eu.aniketos.wp1.ststool.analysis.dlv.menu.expression">
            <with
                  variable="activeEditorId">
               <equals
                     value="eu.aniketos.wp1.ststool.diagram.part.StsToolDiagramEditorID">
               </equals>
            </with>
      </definition>
   </extension>
    <extension
         point="eu.aniketos.wp1.ststool.diagram.contextcontribution">
      <contextaction
            action="eu.aniketos.wp1.ststool.analysis.risk.actions.EventContextMenuAction"
            element="Event">
      </contextaction>
   </extension>
</plugin>
